.ql-container.ql-snow{ border: black 1px solid !important;}
.ql-toolbar.ql-snow{ border: black 1px solid !important;}

.particles-animation {
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1s forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .markdown-container  {
    max-width: 80%;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 6%;
  }

  